
body {
  background: url('../images/background.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 70px;
}

.brand {
  padding-top: 20px;
}
.brand h1 {
  font-weight: bold;
  color: black;
  text-decoration: none;
}

.brand h1:hover {
  color: #22A7F0;
  text-decoration: none;
}

nav ul li a:hover {
  background-color: #6BB9F0;
}

.nav-justified {
  margin-top: 100px;
  background-color: rgba(0, 0, 0, 0.83);
  border-radius: 5px;
  margin-bottom: 100px;
  padding: 0;
  border: 1px solid black;
}

.nav-justified a {
  color: white;
  text-align: center;
  text-shadow: 1px;
  font-weight: bold;
}

.nav-justified a:hover {
  background-color: #6BB9F0;
}

.nav-justified a:focus {
  background-color: #6BB9F0;
}

.nav-justified > li > a {
  padding-top: 12px;
  padding-bottom: 12px;
  margin-bottom: 0;
  font-weight: bold;
  text-align: center;
}

.nav-justified > .active > a,
.nav-justified > .active > a:hover,
.nav-justified > .active > a:focus {
  background-color: #6BB9F0;
    box-shadow: inset 0 5px 8px rgba(0,0,0,.28);
}

.nav-justified > li:first-child > a {
  border-radius: 5px 5px 0 0;
}

.nav-justified > li:last-child > a {
  border-bottom: 0;
  border-radius: 0 0 5px 5px;
}

@media (min-width: 768px) {
  .nav-justified {
    max-height: 52px;
  }
  .nav-justified > li > a {
    border-right: .5px solid black;
    border-left: .5px solid black;
  }
  .nav-justified > li:first-child > a {
    border-left: 0;
    border-radius: 5px 0 0 5px;
  }
  .nav-justified > li:last-child > a {
    border-right: 0;
    border-radius: 0 5px 5px 0;
  }
}

.mainContent {
  margin-top: 50px;
  margin: auto;
  text-align: center;
  width: 99.7%;
  height: 850px;
  background-color: rgba(0, 0, 0, 0.83);
  border-radius: 5px;
  padding: 15px;
}

.thumbnails {
  text-align: center;
  padding-top: 100px;
  padding-left: 200px;
}

.thumbnails > li {
  display: inline-block;
  float: none;
}

.center-block {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.page-header {
  color: white;
  padding-bottom: 35px;
  margin-bottom: 75px;
}

.page-content {
  color: white;
}

.page-content > h2 {
  text-align: left;
  padding-left: 40px;
  padding-bottom: 15px;
}

.page-content > ul > p {
  text-align: left;
  padding-left: 40px;
  font-size: 12pt;
}

.page-content .label-default {
  margin-left: 18px;
  background-color: #2ECC71;
}
.pagination a{
  color: black;
  text-decoration: none;
  padding: 5px;
}
