<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Food Beyond</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/logo.png')}}">

    <!-- Bootstrap -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css')}}"</link>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/search.css')}}"</link>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="container">
      <div class="brand">
        <h1>Food Beyond</h1>
      </div>

      <nav>

          <ul class="nav nav-justified">
            <li><a href="home">Home</a></li>
            <li class="active"><a href="search">My Ingredients</a></li>
            <li><a href="index">Recipes</a></li>
            <li><a href="help">About Us</a></li>

          </ul>

      </nav>
    </div>
        <div class="container">
          <div class="mainContent">
            <!-- search -->
            <div class="col-lg-12">
              <h1 class="page-header">Recipe Search</h1>
            </div>
            <div class="ingredient-box">
                  <div class="container">
                    <div class="ingredients-list">
                      {% if ingredients_list|length < 1 %}
                      <h3>You have no ingredients</h3>
                      {% else %}
                      <h3>My list of ingredients</h3>
                      <div class="list-of-ingredients">

                        <ul>
                          <!--insert for loop here -->
                          {% for ingredient in ingredients_list %}
                          <li>item1</li>
                          {% endfor %}
                        </ul>
                        {% endif %}
                      </div>

                    </div>
                        <div class="btn-group">
                          <div class="input-group">
                            <input type="text" class="form-control search-bar" placeholder="Ingredient to add" aria-describedby="basic-addon1">
                          </div>

                            <button data-toggle="dropdown" class="btn btn-primary dropdown-toggle">Select ingredients to add <span class="caret"></span></button>
                              <ul class="dropdown-menu scrollable-menu" role = 'menu'>
                                <li><input type="checkbox" id="ID" name="NAME" value="VALUE"><label for="ID">All-purpose flour</label></li>
                                <li><input type="checkbox" id="ID" name="NAME" value="VALUE"><label for="ID">Almonds</label></li>
                                <li><input type="checkbox" id="ID" name="NAME" value="VALUE"><label for="ID">Apricots</label></li>
                                <li><input type="checkbox" id="ID" name="NAME" value="VALUE"><label for="ID">Baking powder</label></li>
                                <li><input type="checkbox" id="ID" name="NAME" value="VALUE"><label for="ID">Baking soda</label></li>
                                <li><input type="checkbox" id="ID" name="NAME" value="VALUE"><label for="ID">Barley</label></li>
                                <li><input type="checkbox" id="ID" name="NAME" value="VALUE"><label for="ID">Black beans</label></li>
                                <li><input type="checkbox" id="ID" name="NAME" value="VALUE"><label for="ID">Breadcrumbs</label></li>
                                <li><input type="checkbox" id="ID" name="NAME" value="VALUE"><label for="ID">Brown sugar</label></li>
                                <li><input type="checkbox" id="ID" name="NAME" value="VALUE"><label for="ID">Butter</label></li>
                                <li><input type="checkbox" id="ID" name="NAME" value="VALUE"><label for="ID">Cannellini beans</label></li>
                                <li><input type="checkbox" id="ID" name="NAME" value="VALUE"><label for="ID">Capers</label></li>
                                <li><input type="checkbox" id="ID" name="NAME" value="VALUE"><label for="ID">Cheddar cheese</label></li>
                                <li><input type="checkbox" id="ID" name="NAME" value="VALUE"><label for="ID">Chickpeas</label></li>
                                <li><input type="checkbox" id="ID" name="NAME" value="VALUE"><label for="ID">Cornstarch</label></li>
                                <li><input type="checkbox" id="ID" name="NAME" value="VALUE"><label for="ID">Eggs</label></li>
                                <li><input type="checkbox" id="ID" name="NAME" value="VALUE"><label for="ID">Feta</label></li>
                                <li><input type="checkbox" id="ID" name="NAME" value="VALUE"><label for="ID">Garlic</label></li>
                                <li><input type="checkbox" id="ID" name="NAME" value="VALUE"><label for="ID">Granulated sugar</label></li>
                                <li><input type="checkbox" id="ID" name="NAME" value="VALUE"><label for="ID">Honey</label></li>
                                <li><input type="checkbox" id="ID" name="NAME" value="VALUE"><label for="ID">Jelly</label></li>
                                <li><input type="checkbox" id="ID" name="NAME" value="VALUE"><label for="ID">Kidney beans</label></li>
                                <li><input type="checkbox" id="ID" name="NAME" value="VALUE"><label for="ID">Milk</label></li>
                                <li><input type="checkbox" id="ID" name="NAME" value="VALUE"><label for="ID">Millet</label></li>
                                <li><input type="checkbox" id="ID" name="NAME" value="VALUE"><label for="ID">Mozzarella</label></li>
                                <li><input type="checkbox" id="ID" name="NAME" value="VALUE"><label for="ID">Olives</label></li>
                                <li><input type="checkbox" id="ID" name="NAME" value="VALUE"><label for="ID">Onions</label></li>
                                <li><input type="checkbox" id="ID" name="NAME" value="VALUE"><label for="ID">Parmesan</label></li>
                                <li><input type="checkbox" id="ID" name="NAME" value="VALUE"><label for="ID">Pasta</label></li>
                                <li><input type="checkbox" id="ID" name="NAME" value="VALUE"><label for="ID">Peanut butter</label></li>
                                <li><input type="checkbox" id="ID" name="NAME" value="VALUE"><label for="ID">Peanuts</label></li>
                                <li><input type="checkbox" id="ID" name="NAME" value="VALUE"><label for="ID">Plain yogurt</label></li>
                                <li><input type="checkbox" id="ID" name="NAME" value="VALUE"><label for="ID">Potatoes</label></li>
                                <li><input type="checkbox" id="ID" name="NAME" value="VALUE"><label for="ID">Quinoa</label></li>
                                <li><input type="checkbox" id="ID" name="NAME" value="VALUE"><label for="ID">Raisins</label></li>
                                <li><input type="checkbox" id="ID" name="NAME" value="VALUE"><label for="ID">Rice</label></li>
                                <li><input type="checkbox" id="ID" name="NAME" value="VALUE"><label for="ID">Rolled oats</label></li>
                                <li><input type="checkbox" id="ID" name="NAME" value="VALUE"><label for="ID">Salsa</label></li>
                                <li><input type="checkbox" id="ID" name="NAME" value="VALUE"><label for="ID">Stock/Broth</label></li>
                                <li><input type="checkbox" id="ID" name="NAME" value="VALUE"><label for="ID">Sunflower</label></li>
                                <li><input type="checkbox" id="ID" name="NAME" value="VALUE"><label for="ID">Tomatoes</label></li>
                                <li><input type="checkbox" id="ID" name="NAME" value="VALUE"><label for="ID">Tortillas</label></li>
                                <li><input type="checkbox" id="ID" name="NAME" value="VALUE"><label for="ID">Tuna fish</label></li>
                                <li><input type="checkbox" id="ID" name="NAME" value="VALUE"><label for="ID">Wheatberries</label></li>
                              </ul>

                            <button type="button" class="btn btn-default submit-btn">Submit</button>

                          </div>
                        </div>
                      </div>



                      <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
                      <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
        <script type="text/javascript">
          $(document).ready(function(){
            var ingredients = ["Baking powder","Baking soda","Brown sugar",
            "Cornstarch","All-purpose flour","Granulated sugar","Honey","Butter",
            "Cheddar cheese", "Feta", "Parmesan", "Mozzarella","Eggs","Milk",
            "Plain yogurt","Tortillas","Garlic","Onions","Potatoes","Raisins",
             "Apricots","Almonds", "Peanuts", "Sunflower","Breadcrumbs",
             "Pasta","Rice","Rolled oats","Barley", "Millet", "Quinoa", "Wheatberries",
             "Black beans", "Cannellini beans", "Chickpeas", "Kidney beans","Capers",
             "Olives","Peanut butter","Jelly","Stock/Broth","Tomatoes","Salsa",
             "Tuna fish"];
             $("#ingredients").select({
				           data: ingredients
				     });
          });
        </script>


    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{ url_for('static', filename='js/bootstrap.min.js')}}"</script>
  </body>
</html>
